#__chatworkInputTools_toolbarIcons
{
  display: flex;
  align-items: center;
}

.__chatworkInputTools_toolbarIcon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  opacity: 0.8;
  margin: 0 4px;
}

.__chatworkInputTools_toolbarIcon:hover {
  opacity: 1;
}

.__chatworkInputTools_toolbarIcon_tag,
.__chatworkInputTools_toolbarIcon_emo {
  -webkit-user-select: none;
  align-items: center;
  border-radius: 2px;
  color: #ffffff;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 4px;
}

.__chatworkInputTools_toolbarIcon_tag {
  background-color: #444444;
}

.__chatworkInputTools_toolbarIcon_emo {
  background-color: #ffa000;
}
