#_chatSendToolExtension {
  display: inline-block;
  list-style: none;
}

#_chatSendToolExtension li {
  display: inline-block;
}

#_chatSendToolExtension li span {
  -webkit-user-select: none;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding: 0 4px;
  position: relative;
  text-align: center;
  top: 1px;
}

#_chatSendToolExtension .tag {
  background-color: #444444;
}

#_chatSendToolExtension .emo {
  background-color: #ffa000;
}
